@{
    ViewData["Title"] = "Contactos";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razón de Ser - EMPLEAGESTIÓN</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: justify;
            line-height: 1.6;
        }
    </style>
</head>
<h1>Emplea Gestion</h1>
<ul class="list-group">
    <li class="list-group-item active" aria-current="true">Desarroladores</li>
    <li class="list-group-item">DanieL Felipe Romero Castillo </li>
    <li class="list-group-item">Lucas Nicolas Velasco Garzon</li>
    <li class="list-group-item">Angie Katherine Gutierrez Varon</li>
    <li class="list-group-item">Jose Luis Malagon Muños </li>
</ul>

